Resources/
.omp/
.vscode/
tmp/
*.hdf5
*.h5
*.xlsx
ex*_analysis/
Submission_to_NEA/
omp.sh

# Python junk
__pycache__/
*.py[cod]

# C++ junk
build/

# Test/tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
